-----BEGIN CERTIFICATE-----
MIIC+jCCAeKgAwIBAgIRALnhArKx988wZ2z93E4fngAwDQYJKoZIhvcNAQELBQAw
EjEQMA4GA1UEChMHQWNtZSBDbzAeFw0yNDA3MDUwMDQyMzlaFw0yNTA3MDUwMDQy
MzlaMBIxEDAOBgNVBAoTB0FjbWUgQ28wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
ggEKAoIBAQC6f/swX9wE0+qv7UAJhOP6S9yF3X9rZHdTlbxX1m+xhS4s9x+xoOTZ
SVeNbHR+FgE8LH8fCJf2FLzmAgMF5XxG+LqYzsw/v4i6CwU2ntqzSI7ZO2Z0qbSb
koJICtkpnHq/RYbQM6Jco7c7mN8Z06dtX49dEdRE2fNyGGj3VuS+/pGwJjsIGVGU
NG2GjyU7961EP9Q0hGep2GcK3dlVRGGI8y7XyV5cwOmheZgdCumpt0c1xu7HXCnk
xpEFHYNeDTXwJu7wT4AbFit9JCllKiEee5E8fR766NHXO5YnLTlS89mglhOIdpni
T6lBA/X9YAjj0lhJ3z/Lp2BI+qpg2WjlAgMBAAGjSzBJMA4GA1UdDwEB/wQEAwIF
oDATBgNVHSUEDDAKBggrBgEFBQcDATAMBgNVHRMBAf8EAjAAMBQGA1UdEQQNMAuC
CWxvY2FsaG9zdDANBgkqhkiG9w0BAQsFAAOCAQEAhwi7PHkqSiN4TchL9grPhAAO
CaRw15jxjMYT7L2Y1OKPjyhMkcK2whEGQIKm5/Dxu+E4rOXKbKH4f3OwWOk0k127
R4idTugcITz0bmVyDprT89xvf/OMbeMHVFgNgDinw223+3gh0/wDD10oXzkrkGh4
zvcrlFB6pL9vjhzGtYYd8yGtuJ0+vaiPt82ApO4eD3IoAjJfUJiwrw8deQtaiX1+
U6T/dlm3dGxqW3YO9fraAzZEWvuecxTjAhr92UuZ0EgN3SNsYYwrFGe2ZfHTr1nA
osZLOLZqph+Dfy8bwZTJ+DUoxBwXTgK6uA8VcmIerTGfOIRBJT5GZvxtZIUZ4w==
-----END CERTIFICATE-----
